@charset "UTF-8";
@font-face {
  font-family: 'bebas';
  src: url("../fonts/ofont.ru_Bebas Neue.eot");
  src: local("☺"), url("../fonts/ofont.ru_Bebas Neue.woff") format("woff"), url("../fonts/ofont.ru_Bebas Neue.ttf") format("truetype"), url("../fonts/ofont.ru_Bebas Neue.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: local("Open Sans Light"), local("OpenSans-Light"), url("../fonts/opensanslight.woff2") format("woff2"), url("../fonts/opensanslight.woff") format("woff"), url("../fonts/opensanslight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: local("Open Sans"), local("OpenSans"), url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff"), url("../fonts/opensans.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url("../fonts/opensanssemibold.woff2") format("woff2"), url("../fonts/opensanssemibold.woff") format("woff"), url("../fonts/opensanssemibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url("../fonts/opensansbold.woff2") format("woff2"), url("../fonts/opensansbold.woff") format("woff"), url("../fonts/opensansbold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: local("Open Sans Extrabold"), local("OpenSans-Extrabold"), url("../fonts/opensansextrabold.woff2") format("woff2"), url("../fonts/opensansextrabold.woff") format("woff"), url("../fonts/opensansextrabold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

/* min reset styles browsers */
html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

:root {
  --font-bebas: 'bebas';
  --font-sans: 'Open Sans';
  --color-blue: #00a4e5;
  --color-white: #fff;
  --color-dark: #48555b;
  --color-mercury: #e6e6e6;
  --color-gray: #979797;
  --color-woodsmoke: #171819;
  --color-bunker: #141a20;
}

/* main style for site */
.wrapper {
  margin-right: auto;
  margin-left: auto;
  padding-right: 10px;
  padding-left: 10px;
  max-width: 960px;
}

.hero {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 100px 1fr 86px;
  background: url(../img/bg.jpg) center/cover no-repeat;
}

.hero__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.logo__svg {
  fill: white;
  -webkit-animation: svgAnim 3.7s .7s;
  animation: svgAnim 3.7s .7s;
}

.logo__triangle {
  -webkit-animation: trAnim 3.5s .9s;
  animation: trAnim 3.5s .9s;
}

@-webkit-keyframes svgAnim {
  0% {
    fill: white;
  }
  50% {
    fill: black;
  }
  100% {
    fill: white;
  }
}

@keyframes svgAnim {
  0% {
    fill: white;
  }
  50% {
    fill: black;
  }
  100% {
    fill: white;
  }
}

@-webkit-keyframes trAnim {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes trAnim {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.hero__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.hero__title h1 {
  margin-bottom: 3px;
  font-family: "Bebas Neue", sans-serif;
  font-size: 60px;
  line-height: 70px;
  text-align: center;
  letter-spacing: 5.70937px;
  color: #FFFFFF;
}

.hero__title p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 1.5px;
  text-align: center;
  color: #fff;
}

.hero__scroll-down {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.scroll-down p {
  font-family: var(--font-sans);
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 3.7px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
}

.scroll-down:hover svg {
  opacity: 1;
  -webkit-transform: translate(-50%, 30%) rotate(-90deg);
  -ms-transform: translate(-50%, 30%) rotate(-90deg);
  transform: translate(-50%, 30%) rotate(-90deg);
}

.hero__scroll-down svg {
  position: absolute;
  top: 0;
  left: 50%;
  opacity: 0;
  -webkit-transform: translateX(-50%) rotate(-90deg);
  -ms-transform: translateX(-50%) rotate(-90deg);
  transform: translateX(-50%) rotate(-90deg);
  -webkit-transition: opacity 0.3s, -webkit-transform 0.4s;
  transition: opacity 0.3s, -webkit-transform 0.4s;
  -o-transition: transform 0.4s, opacity 0.3s;
  transition: transform 0.4s, opacity 0.3s;
  transition: transform 0.4s, opacity 0.3s, -webkit-transform 0.4s;
}

.header {
  border: 1px solid var(--color-mercury);
  padding: 23px 0;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__item {
  margin-right: 30px;
}

.nav__item:last-child {
  margin-right: 0;
}

.nav__link {
  display: inline-block;
  font-family: var(--font-sans);
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 1.09091px;
  color: var(--color-dark);
  -webkit-transition: color 0.5s 0.1s, -webkit-transform 0.7s cubic-bezier(0.39, 0.31, 0.57, 1.45);
  transition: color 0.5s 0.1s, -webkit-transform 0.7s cubic-bezier(0.39, 0.31, 0.57, 1.45);
  -o-transition: transform 0.7s cubic-bezier(0.39, 0.31, 0.57, 1.45), color 0.5s 0.1s;
  transition: transform 0.7s cubic-bezier(0.39, 0.31, 0.57, 1.45), color 0.5s 0.1s;
  transition: transform 0.7s cubic-bezier(0.39, 0.31, 0.57, 1.45), color 0.5s 0.1s, -webkit-transform 0.7s cubic-bezier(0.39, 0.31, 0.57, 1.45);
}

.nav__link:hover {
  color: #0fafef;
  -webkit-transform: rotate3d(1, 0, 0, 360deg);
          transform: rotate3d(1, 0, 0, 360deg);
}

.title {
  position: relative;
  font-family: var(--font-sans);
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 2.306px;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-dark);
}

.title::after {
  content: "";
  position: absolute;
  left: calc(50% - 25px);
  bottom: -10px;
  width: 50px;
  height: 2px;
  background: var(--color-blue);
}

.about {
  padding: 57px 0 120px;
}

.about__title {
  position: relative;
  margin-bottom: 92px;
  font-family: var(--font-sans);
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 2.306px;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-dark);
}

.about__title::after {
  content: "";
  position: absolute;
}

.about__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about__text-item {
  max-width: 405px;
  font-family: var(--font-sans);
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: 0.1875px;
  color: var(--color-dark);
}

.about__text-item:first-child {
  margin-bottom: 30px;
}

.about__text-item:last-child {
  font-weight: 400;
  font-size: 13px;
}

.about__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.about__image {
  margin-left: 30px;
  border-radius: 5px;
  padding: 15px 15px 152px;
  min-width: 140px;
  -webkit-box-shadow: 0 3px 14px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 14px rgba(0, 0, 0, 0.3);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.about__image-text {
  font-family: var(--font-sans);
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.18750px;
  text-align: left;
  color: var(--color-white);
}

.about__image:hover {
  -webkit-transform: rotate3d(0, 1, 0, -15deg);
          transform: rotate3d(0, 1, 0, -15deg);
}

.about__image:first-child {
  margin-left: 0;
  background: url(../img/about__img1.jpg) center/cover no-repeat;
}

.about__image:nth-child(2) {
  background: url(../img/about__img2.jpg) center/cover no-repeat;
}

.about__image:last-child {
  background: url(../img/about__img3.jpg) center/cover no-repeat;
}

.main-link {
  display: inline-block;
  padding: 11px 29px;
  font-family: var(--font-sans);
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 0.5px;
  text-align: center;
  color: var(--color-white);
  background: var(--color-blue);
  transition: transform 0.3s, border-radius 0.3s;
}

.main-link:hover {
  border-radius: 10px;
  transform: translateY(-3px);
}

.title-service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 76px;
}

.title-service__title {
  text-align: left;
}

.title-service__title::after {
  left: 0;
}

.title-service__text {
  max-width: 405px;
  font-family: var(--font-sans);
  font-weight: 400;
  font-size: 11px;
  line-height: 19px;
  letter-spacing: 0.2px;
  color: var(--color-dark);
}

.service__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.service__item {
  margin-right: 20px;
  margin-bottom: 20px;
  border: 1px solid var(--color-mercury);
  border-radius: 3px;
  padding: 38px 22px;
  min-height: 330px;
  max-width: 295px;
  -webkit-transition: -webkit-box-shadow 0.3s;
  transition: -webkit-box-shadow 0.3s;
  -o-transition: box-shadow 0.3s;
  transition: box-shadow 0.3s;
  transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
}

.service__item:last-child {
  margin-right: 0;
}

.item-service__img {
  margin-bottom: 25px;
}

.item-service__text {
  margin-bottom: 13px;
  font-family: var(--font-sans);
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.426px;
  text-align: left;
  color: var(--color-dark);
}

.item-service__text:last-child {
  font-weight: 400;
  font-size: 13px;
}

.item-service:hover {
  -webkit-box-shadow: 0 0 20px 0 #00000021;
          box-shadow: 0 0 20px 0 #00000021;
}

.get {
  padding: 120px 0 231px;
  background: url(../img/get__bg.jpg) center/cover no-repeat;
}

.get__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.get__title {
  margin-bottom: 35px;
  max-width: 400px;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: lowercase;
}

.get__title::after {
  display: none;
}

.footer {
  overflow: hidden;
  background: var(--color-woodsmoke);
}

.form-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 30px 0;
}

.form-footer__text {
  font-family: var(--font-sans);
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: 0.84px;
  color: var(--color-white);
}

.form-footer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
}

.form-footer__input {
  padding: 0 15px;
  width: 250px;
  height: 100%;
  font-family: var(--font-sans);
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.07px;
}

.form-footer__button {
  max-height: 40px;
  -webkit-transition: border-radius 0.3s;
  -o-transition: border-radius 0.3s;
  transition: border-radius 0.3s;
}

.form-footer__button:hover {
  border-radius: 0 15px 15px 0;
  transform: translateY(0);
}

.footer__content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 0;
  background: var(--color-bunker);
}

.footer__content::before, .footer__content::after {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: var(--color-bunker);
}

.footer__content::before {
  left: -100%;
}

.footer__content::after {
  right: -100%;
}

.footer__description h2 {
  margin-bottom: 20px;
  font-family: var(--font-sans);
  font-weight: 400;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.84px;
  color: var(--color-white);
}

.footer__description svg {
  margin-bottom: 16px;
}

.footer__description p {
  max-width: 250px;
  font-family: var(--font-sans);
  font-weight: 400;
  font-size: 11px;
  line-height: 19px;
  letter-spacing: 0.85px;
  text-align: left;
  color: var(--color-white);
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

nav p {
  margin-bottom: 10px;
  font-family: var(--font-sans);
  font-weight: 400;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.84px;
  color: var(--color-white);
}

nav a {
  margin-bottom: 10px;
  font-family: var(--font-sans);
  font-weight: 300;
  font-size: 10px;
  line-height: 15px;
  letter-spacing: 0.84px;
  color: var(--color-white);
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}

nav a:hover {
  color: var(--color-blue);
}

nav a:last-child {
  margin-bottom: 0;
}

nav:nth-child(5) p:nth-child(2) {
  max-width: 150px;
}

.footer__links a {
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.footer__links a:hover {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.footer__footer {
  padding: 22px 10px;
}

.footer__copy {
  font-family: var(--font-sans);
  font-weight: 400;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.84px;
  text-align: center;
  color: var(--color-white);
}

@media (max-width: 992px) {
  .about__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about__text {
    margin-bottom: 40px;
  }
  .about__text-item {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .hero__title h1 {
    font-size: 30px;
    line-height: 40px;
  }
  .hero__title p {
    font-size: 12px;
  }
  .header__logo {
    display: none;
  }
  .header__wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about_title {
    margin-bottom: 50px;
  }
  .about__images {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about__image {
    margin-bottom: 20px;
    margin-left: 0;
  }
  .about__image:last-child {
    margin-bottom: 0;
  }
  .service__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .item-service {
    margin-right: 0;
  }
  .title-service {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 37px;
  }
  .title-service__title {
    margin-bottom: 10px;
    text-align: center;
  }
  .title-service__title::after {
    left: calc(50% - 25px);
    top: -10px;
  }
  .title-service__text {
    margin-bottom: 15px;
    text-align: center;
  }
  .form-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .form-footer__text {
    margin-bottom: 15px;
  }
  .form-footer__input {
    width: 200px;
  }
  .form-footer__button {
    padding: 11px 19px;
  }
  .footer__content nav {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__content nav:nth-child(5) p:nth-child(2) {
    text-align: center;
  }
  .footer__description {
    display: none;
  }
}

@media (max-width: 425px) {
  .nav__item {
    margin-right: 15px;
  }
  .nav__link {
    font-size: 10px;
  }
  .get__title {
    font-size: 24px;
    line-height: 30px;
  }
  .footer__content {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .footer__content nav:nth-child(3),
  .footer__content nav:nth-child(4) {
    display: none;
  }
}

::-webkit-scrollbar {
  background: #555;
}

::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 15px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: #222;
}
